.details-tileContainer {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    text-align: center;
    margin: 10px;
    background-color: #2E3147;
    border-radius: 10px;
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
}

.details-tileContent {
    background-size: 100% 100%;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.details-description {
    font-size: 12px;
    margin-bottom: 5px;
}

.details-rightDiv {
    padding: 0 10px;
}

.details-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

.details-selectVenue {
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.details-selectVenueContainer {
  margin: 10px;
}

@media screen and (min-width: 480px) {
  .details-tileContainer  {
    flex-direction: row;
    padding-bottom: 0;
    cursor: none;
    width: 98%;
  }

  .details-tileContent {
      width: 250px;
      margin-bottom: 0;
  }

  .details-rightDiv {
    padding: 10px;
    width: 100%;
    align-self: center;
 }

  .details-venuesWrapper > button {
    margin-right: 5px;
    width: auto;
  }

  .details-selectVenueContainer > button {
    width: 25%;
  }

  .details-description {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .details-venuesWrapper {
    text-align: center;
  }

  .details-selectVenueContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .details-tileContainer , .details-selectVenueContainer  {
    max-width: 1024px;
    margin: 10px auto;
  }
}